@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------------------Colors*/

.bg-color-name-title{
    background-color: #000;
}

.ui-menu-color-home{
    background-color: #337ab7;
}

.ui-menu-color-music{
    background-color: #cccc00;

}

.ui-menu-color-audio-video{
    background-color: #cc0000;
}

.ui-menu-color-contact{
    background-color: #00cc00;
}

.bg-color-album-release{
    background-color: #cccc00;
}

.bg-color-five-players{
    background-color: #99ffff;
}

/*----------------------------------------------header*/

header{
    margin: 0;
}

.heading{
    margin-left: 50px
    
}

.logo{
    background: url("../images/ironbutterfly.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

}

.name{
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #eef0ff;
    
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #eef0ff;
}

/*----------------------------------------------hover*/

.hvr-sweep-to-top:before{
    background-color: rgba(0,0,0, 0.2);
    height: 120px;
}

/*-----------------------------------------------Special Paddings/Margins/Text*/
h1,
h2,
h3,
h4 {text-align: center;}


/*----------------------------------------------nav*/

#nav{
    margin: 0;
}

#nav li{
    padding: 0;
}

.menuitem{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #eef0ff;
    height: 120px;
}

.menuitem a i{
    padding-top: 22px;
    display: block;
    color: #eef0ff;
    font-size: 26px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*----------------------------------------------footer*/

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #eef0ff;
}

footer{
    background-color: #000;
    color: #eef0ff;
    min-height: 120px;
    margin: 0;
}

.inline-block{
    display: inline-block;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #eef0ff;
    background: #666666;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}

.social-links li a i:hover{
    background: #337ab7;
}

#footer-details{
    margin: 20px;
}


/*----------------------------------------------section*/



@media(min-width: 980px){
.section-column{
    padding: 0 30px 30px;
    float: none;
    display: block;
}
}


.five-players{
    margin-bottom: 20px;
    display: block;
}
.row{
    display: inline-block;
}

.section-heading{
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*----------------------------------------------band info*/

.bg-color-band-info{
    background-color: #f4f4f4;
}

.band-info-item{
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.band-info-item .key,
.band-info-item .value{
    padding-right: 8px;
}

.band-info-item .key p,
.band-info-item .value p{
    margin: 0;
}

.band-info-item .key{
    display: inline-block;
    width: 40%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
    
}

.band-info-item .key p{
    font-family: "Exo", sans-serif;
    font-weight: 500;
}

.band-info-item .value{
    display: inline-block;
    position: relative;
    width: 50%;
}
/*----------------------------------------------music albums*/

.timeline-item{
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #000;
    border-left: 1px solid;
}

.timeline-item p{
    padding: 0;
    margin: 0;
}

.timeline-item::before{
    content: attr(date);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after{
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #333;
}
    
.timeline-heading{
    color: #000;
    margin: 50px;
}

.album-items{
    margin-bottom: 30px;
}

